*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    line-height: 1.6;
    scroll-behavior: smooth;
    scrollbar-width: 1px;
}
.another-screen-size{
    display: none;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.img-fluid{
    width: 100%;
}
.btn{
    cursor: pointer;
    padding: 0.8em 1em;
    display: inline-block;
}
.btn-primary{
    background: #78b800;
}
.btn-primary:hover{
    background: #86cf09;   
}
.container{
    width: 93%;
    margin: auto;
}
header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    background: white;
}
header a{
    color: #666;
    font-size: 1em;
    transition-property: color;
    transition-duration: .5s;
}
header a:hover{
    color: black;
}
header ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header ul li{
    display: inline;
}
header .container{
    /* background: red; */
    display: flex;
    align-items: center;
    padding: 0.5em 0;
}
.container #left, .container #right{
    display: flex;
    align-items: center;
}
.container #left ul{
    margin-left: 30px;
}
.container #left ul li{
    margin-right: 20px;
}
.container #left ul li:last-child{
    margin-right: 0;
}
.container #right{
    margin-left: auto;
}
.container #right ul li{
    margin-left: 20px;
}
.container #right ul li:first-child{
    margin-left: 0;
}
.container #right #last{
    margin-left: 40px;
    margin-top: 0;
    background: none;
}
.container #right #last li{
    margin-left: 20px;
}
.container #right #last li:first-child{
    margin-left: 0;
}


/* Slide show*/
#slideshow{
    margin-top: 3em;
    position: relative;
    width: 100%;
}
.slideshow-container{
    background: url("Images/1-slide-show.jpg") no-repeat center center/cover;
    height: 69vh;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease;
}
.slideshow-container .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.slideshow-container .container h1{
    font-size: 3em;
    line-height: 1.3;
}
.slideshow-container .container .btn{
    width: fit-content;
    margin-top: 20px;
    color: white;
}
.light-slideshow{
    color: white;
}
#slideshow2{
    background: url("./Images/slideshow2.jpg") no-repeat center center/cover;
}
#slideshow3{
    background: url("./Images/slideshow3.jpg") no-repeat center center/cover;
}
#slideshow4{
    background: url("./Images/slideshow4jpg.jpg") no-repeat center center/cover;
}
#slideshow5{
    background: url("./Images/slideshow5..jpg") no-repeat center center/cover;
}
/* Bars */
.bars{
    display: flex;
    position: absolute;
    bottom: 2%;
    width: 100%;
    justify-content: center;
} 
.bar{
    cursor: pointer;
    height: 12px;
    width: 12px;
    background: grey;
    margin-right: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.bar:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.bar:last-child{
    margin-right: 0;
}
.active-bar{
    background: #78b800;
}

/* Last section */
section#last{
    margin-top: 15px;
    background: #eeeeee;
    padding-bottom: 50px;
}
#last-top{
    max-width: 120px;
}
#last #showcase{
    display: flex;
    padding-bottom: 30px;
    margin-left: 15px;
}
#last #showcase .showcase-text, #last #showcase .showcase-img{
    flex: 1;

}
#last #showcase .showcase-text h1, #last #showcase .showcase-text p{
    margin-bottom: 10px;
}
#last #showcase .showcase-text h1{
    font-size: 2.5em;
    line-height: 1;
}
#last #showcase .showcase-text p{
    font-size: 0.9em;
}
#last #showcase .btn{
    padding: .5em 1em;
    color: white;
    font-weight: bold;
}
#last hr{
    width: 100%;
    height: 15px;
    border: none;
    background:white;
}

/* Grid */
.padding-top{
    padding-top:60px;
}
.heading{
    text-align: center;
    margin-bottom: 25px;
    font-size: 2.2em;
}
.container .grid-system{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 50px;
}
.card{
    background:white;
    box-shadow: 1px 1px 5px rgb(193, 189, 189), -1px -1px 5px white;
    pointer-events: none;
}
.card a{
    pointer-events: auto;
}
.card:hover{
    box-shadow: 3px 3px 5px rgb(193, 189, 189), -3px -3px 5px white;
} 
.card-text{
    padding: 10px;
}
.card-text h2{
    font-size: 1.1em;
    line-height: 1.2;
    margin-bottom: 10px;
}
.card-text p{
    font-size: 0.9em;
}
.card .img-fluid{
    height: 150px;
    cursor: pointer;
}
/* .card .img-fluid:hover ~ .card{
    box-shadow: 5px 5px 5px rgb(193, 189, 189), 5px 5px 5px white;
} */
.button-p{
    display: none;
}


/* Links section */
#links-container{
    background: black;
    color: white;
    /* height: 75vh; */
    padding: 60px 0;
}
.links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}
.link h2{
    border-bottom: 0.1px solid #918e8e;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.link ul li{
    margin-bottom: 10px;
}
.link a{
    color: #76b900;
}


.social-links{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-links div{
    display: flex;
    align-items: center;
}
.social-links .left *{
    margin-right: 30px;
}
.social-links .left *:last-child{
    margin-right: 0;
}
.social-links .right *{
    margin-left: 20px;
}
.social-links .right *:first-child{
    margin-left: 0;
}
.social-links img{
    max-width: 40px;
    filter: invert(100);
    -webkit-filter: invert(100);
}
.social-links .left img{
    max-width: 100px;
}

/* Footer */
.footer{
    padding: 30px 0 30px 0;
}
.footer .top{
    display: flex;
    justify-content: space-between;
}
.footer .top svg{
    max-width: 100px;
}
.footer .top a{
    color: #CCC;
}

.footer .bottom, .footer .bottom a{
    color: #666;
}
.footer .bottom a:hover{
    color: black;
}

/*media Queries*/
@media (max-width: 1288px){
    .container{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .grid-system{
        position: relative;
        /* padding-left: ;
        padding-right: ; */
    }
    .padding-top{
        overflow-x: hidden;
    }
    
    .card{
        width: 290px;
    }
    .button-p{
        position: absolute;
        left: -20px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        cursor: pointer;
    }
    .right-of-p{
        position: absolute;
        right: -50px;
    }
    .button-p-1{
        top: 0em;
    }
    .button-p-2{
        top: 0;
    }
    .button-p-3{
        top: 0em;
    }
    .button-p-4{
        top: 0em;
    }
    .button-p p{
        height: 40px;
        width: 40px;
        background:#78b800;
        opacity: 0.8;
    }
    .button-p p:hover{
        width: 42px;
    }

}

@media (max-width: 1272px){
    header .container{
        width: 90%;
    }
    header .container a{
        font-size: 0.89em;
    }
    .container-grid{
        overflow-x: hidden;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 1024px){
    .slideshow-container .container h1{
        font-size: 30px;
    }

    .slideshow-container{
        background: url("Images/slideshow1-medium.jpg") no-repeat center center/cover;
    }
    #slideshow2{
        background: url("./Images/slideshow2-medium.jpg") no-repeat center center/cover;
    }
    #slideshow3{
        background: url("./Images/slideshow3-medium.jpg") no-repeat center center/cover;
    }
    #slideshow4{
        background: url("./Images/slideshow4-medium.jpg") no-repeat center center/cover;
    }
    #slideshow5{
        background: url("./Images/slideshow5-medium.jpg") no-repeat center center/cover;
    }
    
}

@media (max-width: 1022px){
    header .container{
        flex-direction: column;
        position: absolute;
        height: 100vh;
        width: 100%;
        background: white;
        top: 43px;
        left: -100000px;
        z-index: 100000;
        align-items: start;
        padding-left: 20px;
        transition-duration: .4s;
        transition-property: all;
        transition-timing-function: ease-in-out;
        
    }
    header .container ul{
        display: block;
        width: 100%;
    }
    header .container li{
        display: block;
        width: 93vw;
        margin-bottom: 25px;
    }
    header .container a{
        font-size: 18px;
    }
    header .container a:hover{
        color: black;
    }
    .container #left ul li{
    margin-right: 0px;
    }
    .container #right ul li{
        margin-left: 0px;
    }
    .container #right ul li:first-child{
        margin-right: 0;
    }
    header .container #left ul, header .container #right{
        margin:0;
    }
    header .container svg, #right ul#last{
        display: none;       
    }
    header .another-screen-size{
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        align-items: center;
    }
    header .another-screen-size img{
        width: 20px;
        cursor: pointer;
    }
    header .another-screen-size ul{
        flex-direction: row;
    }
    ul li:first-child{
        margin-right: 20px;
    }
    #list-button{
        width: 30px;
    }
    #list-button:hover{
        opacity: 0.7;
    }
    .x{
        content: url("./Images/x.svg")
    }
    
}

@media (max-width: 768px){
    #slideshow .slideshow-container{
        max-height: 400px;
    }
    #slideshow .slideshow-container .container{
        justify-content: start;
        padding-top: 30px;
      }
    #slideshow .slideshow-container .container h1{
        font-size: 30px;
    }
    #slideshow .slideshow-container .container br{
        display: none;
    }
    #slideshow .slideshow-container .container p{
        font-size: 19px;
    }
    #last .container #showcase{
        margin-top: 15px;
    }
    #last .container #showcase h1{
        font-size: 23px;
    }
    #last .container #showcase p{
        font-size: 15px;
        font-weight: normal;
    }
    #last .container #showcase br{
        display: none;
    }
    #last .container #showcase .showcase-img{
        display: none;
    }
    .heading{
        font-size: 25px;
    }
    #links-container{
        padding: 20px 0;
    }
    .links{
        grid-template-columns: 1fr;
    }
    .links .link h2{
        text-align: center;
        font-size: 18px;
        font-weight: normal;
    }
    .links .link ul{
        display: block;   
        margin-bottom: 40px;
    }
    .links .link ul#last-link-ul{
        margin-bottom: 0;
    }
    .social-links, .social-links div:first-child{
        flex-direction: column;
    }
    .links .link ul li{
        display: inline;
        margin-right: 30px;
        line-height: 2.5;
    }
    .social-links .left img{
        margin-right: 0;
        height: 100px;
        line-height: 0;
    }
    #sign-up-for-nvidea-id{
        margin-top: -20px;
        margin-bottom: 20px;
        text-align: center;
    }
    .social-links div.right{
        display: block;
    }
    #span-right-social-links{
        display: block;
        text-align: center;
        margin: 30px 0;
    }
    .footer .top{
        flex-direction: column;
        align-items: center;
    }
    .footer .bottom{
        text-align: center;
    }
    .footer .bottom p{
        text-align: left;
        font-size: 12px;
    }
    .footer .top a{
        margin-top: 10px;
    }
}

@media (max-width: 766px){
    .slideshow-container{
        background: url("Images/slideshow1-small.jpg") no-repeat center center/cover;
    }
    #slideshow2{
        background: url("./Images/slideshow2-small.jpg") no-repeat center center/cover;
    }
    #slideshow3{
        background: url("./Images/slideshow3-small.jpg") no-repeat center center/cover;
    }
    #slideshow4{
        background: url("./Images/slideshow4-small.jpg") no-repeat center center/cover;
    }
    #slideshow5{
        background: url("./Images/slideshow5-small.jpg") no-repeat center center/cover;
    }
    
}